
body {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important;
}



:root {
    --primary-color: #FF7519;
    --secondary-color: #B64110;
    --dark-p-color: #331204;
    --star-color: #FFA928;
}


.skooby-dashboard {
    margin: 500px 0px 70px 0px!important;
}



.background-div {
    margin: 0 !important;
    padding: 0 !important;
    background: url(/img/hero-image.png) no-repeat;
    background-size: cover;
    height: 500px;
    width: 100% !important;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center-text {
    margin: 0px 100px;
    color: white;
    font-size: 48px;
    font-weight: bold;
}


.container-wrapper {
    display: flex !important;  
}

.content-wrapper {
    width: 70%;
    flex-wrap: wrap;
    margin: 0; /* reset margin */
    padding: 0;
}
.genre-title {
 
    color: var(--secondary-color); /* Set the color for the genre title */
    font-size: 32px; /* Set the font size for the genre title */
}

.book-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.book-content {
    text-align: center;
    width: -webkit-fill-available;
}


.book-image-preview {
    
    /* Add a width or max-width property to constrain the image size */
    max-width: 150px; /* This value can be any size you desire */
    height: auto; /* This ensures the image maintains its aspect ratio */
    margin: 0 auto; /* This centers the image in its container */
    display: block;
}
.suggest-book-image{
    /* Add a width or max-width property to constrain the image size */
    max-width: 150px; /* This value can be any size you desire */
    height: auto; /* This ensures the image maintains its aspect ratio */
    margin: 0 auto; /* This centers the image in its container */
    display: block;
}
.book-image {
    border-radius: 10px;
    width: 100%; /* This makes the image fill its container */
    height: auto; /* This ensures the image maintains its aspect ratio */
    display: block;
}


.book-genre {
    margin-top: 30px;
    color: var(--secondary-color);
}
hr {
    border: none;
    height: .25px; 
    background-color: var(--primary-color); /* Set background color to primary color */
    
}
.book-content {
    text-align: center;
    width: 120px;
    height: 200px;
    margin: 10px;
}

.book-info-card {
    display: none; 
    width: 300px;
    z-index: 1;
    background-color: white;
    color: black;
    border-radius: 10px;
    position: absolute; 
    height: 194px;
    box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.67);
    -webkit-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.67);
    -moz-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.67);
}

.book-image-preview:hover + .book-info-card {
    display: block!important;
 
}

.sidebar-container {
    width: 35%;
    margin-left: 80px;
}

.sidebar-content {
    max-height: 500px;
    height: 50vh;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.67);
    -webkit-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.67);
    -moz-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.67);
} 
.content {
    width: 100%;
    padding: 20px;
    background-color: #f2f2f2;
}

.filter-searchbar{
    padding: 10px 0px;
}



.filter-category-container {
    padding: 10px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filter-category-titles{
    color:var(--primary-color);
}

.filter-category-titles:hover {
    color: var(--secondary-color);
}

.sidebar-title {
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: 500;
}
.filter-genretitle {
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: 500;
}

.book-info-card {
    padding: 10px;
    text-align: initial;
}

.book-title {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 5px 0px !important;
    /*word-break: break-all !important;*/
    font-size: 15px;
    width: 100%;
    /*-webkit-mask-image: linear-gradient(90deg, #000 60%, transparent);*/
}

.author-name {
    width: 100%;
    -webkit-mask-image: linear-gradient(90deg, #000 60%, transparent);
}

.book-description {
     
    height: 75px;
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
    font-size: small;
 
}

.book-rating-value{
    margin-bottom:0px;
    align-content:center;
}

.book-reviews, .book-rating-value {
    font-size: x-small;
}

.book-rating-value{
    padding-left:10px;
}

.book-text {
    margin: 5px 0px!important;
}

.see-more-button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: transparent;
    color: #B64110;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    text-decoration: underline;
    transition: color 0.3s;
    float: right;
}

    .see-more-button:hover {
        color: #FF7519;
    }

.btn-text {
    background-color: transparent; /* Set background color to transparent */
    color: var(--primary-color); /* Set text color to primary color */
    font-size: 15px;
    border: none;
    cursor: pointer;
}

    .btn-text:hover {
        border: none;
        background-color: transparent;
        color: var(--secondary-color);
    }

.book-rating {
    align-items: center;
    display: flex;
}
.star-rating {
    margin-bottom:10px;
    color: var(--star-color);
}
/* Responsive styling */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .content, .sidebar {
        flex: auto;
    }
}


 