@model ASI.Basecode.Services.Models.GenreViewModel

@{
    ViewBag.ShowSideBar = true;
    ViewData["Title"] = "Add Genre";
}

<h2 class="form-title">Add Genre</h2>

<div class="form-container container">
    <form asp-action="Create">
    <div class="row">
        <div class="col">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
                <div class="col-right col-center">
                    <div class="form-group">
                        <a class="btn-back btn-padd" asp-action="Index">Back to List</a>
                        <input type="submit" value="Create" class="btn-padd btn btn-skooby" />
                    </div>
            </div>
        </div>

    </div>
    </form>
</div>


    
 

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
