@model ASI.Basecode.Services.Models.GenreViewModel

@{
    ViewBag.ShowSideBar = true;
    ViewData["Title"] = "Genre Details";
}

<style>

    img.book-image {
        max-width: 300px;
        height: auto;
        margin-top: 10px;
    }

    .center-content {
        text-align: center;
    }

    .title-style{
        font-weight:bold;
    }
</style>

<h2 class="form-title">Genre Details</h2>

<div class="form-container container">
    <hr />
    <div class="row">
        <div class="col-sm-2 title-style">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </div>

    </div>
    <hr />
    <div class="row">
        <div class="col">
            <div class="col-right col-center">
               
                <a class="btn-back btn-padd" asp-action="Index">Back to List</a>
                <a class="btn-padd btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            </div>
        </div>
    </div>
</div>

 