@{
    ViewData["Title"] = "Home Page";
}
@section styles {
    <link rel="stylesheet" href="~/css/dashboard.css" />
}


<section class="skooby-section skooby-dashboard">
    <div class="container-wrapper">
        <div class="content-wrapper">

            
           
            <div class="book-genre">
                <h4>Art</h4>
                <hr />
                <div class="book-wrapper">
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            test
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            test
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            test
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            test
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            test
                        </div>
                    </div>
                </div>
            </div>

            <div class="book-genre">
                <h4>Art</h4>
                <hr />
                <div class="book-wrapper">
                    <div class="book-content">
                        <img class="book-preview" src="~/img/book-preview.png" />
                    </div>
                    <div class="book-content">
                        <img class="book-preview" src="~/img/book-preview.png" />
                    </div>
                    <div class="book-content">
                        <img class="book-preview" src="~/img/book-preview.png" />
                    </div>
                    <div class="book-content">
                        <img class="book-preview" src="~/img/book-preview.png" />
                    </div>
                    <div class="book-content">
                        <img class="book-preview" src="~/img/book-preview.png" />
                    </div>
                </div>
            </div>


            <div class="book-genre">
                <h4>Art</h4>
                <hr />
                <div class="book-wrapper">
                    <div class="book-content">
                        <img class="book-preview" src="~/img/book-preview.png" />
                    </div>
                    <div class="book-content">
                        <img class="book-preview" src="~/img/book-preview.png" />
                    </div>
                    <div class="book-content">
                        <img class="book-preview" src="~/img/book-preview.png" />
                    </div>
                    <div class="book-content">
                        <img class="book-preview" src="~/img/book-preview.png" />
                    </div>
                    <div class="book-content">
                        <img class="book-preview" src="~/img/book-preview.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-container">
            <div class="sidebar-content">
                <h2>sidebar</h2>
                <p>content</p>
            </div>
        </div>
    </div>
</section>
