@{
    ViewData["Title"] = "Home Page";
}
@section styles {
    <link rel="stylesheet" href="~/css/dashboard.css" />
}


<section class="skooby-section skooby-dashboard">
    <div class="container-wrapper">
        <div class="content-wrapper">

            
           
            <div class="book-genre">
                <h4>Art</h4>
                <hr />
                <div class="book-wrapper">
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="book-genre">
                <h4>Sci-fi</h4>
                <hr />
                <div class="book-wrapper">
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="book-genre">
                <h4>Kids</h4>
                <hr />
                <div class="book-wrapper">
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                    <div class="book-content">
                        <div class="book-image-preview">
                            <img class="book-image" src="~/img/book-preview.png" />
                        </div>
                        <div class="book-info-card" id="per-book-info">
                            <h5 class="book-title book-text">The Dress And The Girl</h5>
                            <p class="author-name book-text">by Camille Andros • 2019</p>
                            <p class="book-description book-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum posuere tortor, sit amet tempor enim elementum placerat. Quisque ornare tempus aliquet.</p>
                            <div class="book-rating">
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-solid fa-star star-rating"></i>
                                <i class="fa-regular fa-star-half-stroke star-rating"></i>
                                <i class="fa-regular fa-star star-rating"></i>
                                <p class="book-rating-value">128 avg rating</p>
                            </div>
                            <p class="book-reviews">420 reviews</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sidebar-container">
            <div class="sidebar-content">
                <h2 class="sidebar-title">Filter</h2>
                <form class="d-flex filter-searchbar" role="search">
                    <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success search-button" type="submit">Search</button>
                </form>
                <div class="filter-category-container">
                    <p class="filter-category-titles">art</p>
                    <p class="filter-category-titles">biography</p>
                    <p class="filter-category-titles">sci-fi</p>
                    <p class="filter-category-titles">religion</p>
                    <p class="filter-category-titles">kids</p>
                    <p class="filter-category-titles">history</p>

                </div>
            </div>
        </div>
    </div>
</section>
