@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
} 
<style>
    svg {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .animation-container{
        width: 300px;
        background-color: red;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
</style>
<script src="https://unpkg.com/%40lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="animation-container">
    @* <lottie-player src="https://lottie.host/ff1d04f3-cac2-420f-b154-9f6bf0b8df14/pgfhTPEYv3.json" background="transparent" speed="1"  loop autoplay direction="1" mode="normal"></lottie-player> *@
    <svg viewBox="0 0 10 10"  >
        <rect width="10" height="10">
            <animate attributeName="rx"
                     values=""
                     dur="10s"
                     repeatCount="indefinite" />
        </rect>
    </svg>

    <h2>Sniffing...</h2>
</div>
