@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
@{

    ViewData["Title"] = "ForgotPass";
}


@* https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?auto=format&fit=crop&q=80&w=1770&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D *@





<section class="hero-section">
    <link href="~/css/login.css" rel="stylesheet" />

    <div>
        <link href="~/css/forgotpassword.css" rel="stylesheet" />

        <div class="card">
            <div class="header">Forgot Password?</div>
            <div class="subtitle">Please enter the email you use to sign in to Skooby. We will send you a link to reset your password.</div>

            <input type="email" class="input-field required" name="email" placeholder="Email" required>


            <br>
            <a href="/">Go back home</a>
            <button class="button" type="submit">Request Password Reset</button>
            <br>

        </div>
    </div>
</section>






