@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<header class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")">
    <div class="logosec hover-pointer">
        <img src="~/img/logo2-1.png"
             style="width: 185px;" alt="logo"
             onclick="window.location.href = '@Url.Action("Index", "Home")';">
    </div>

    <div class="searchbar-header">
        <form class="d-flex filter-searchbar" role="search" method="get" asp-controller="Home" asp-action="Index">
               <input class="form-control me-2 search-input" name="searchTerm" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success search-button" type="submit">Search</button>
        </form>
    </div>
    
 
             
</header>
