@model ASI.Basecode.Services.Models.AuthorViewModel
@{
    ViewBag.ShowSideBar = true;
}
<h2>Author Details</h2>
<dl>
    <dt>First Name</dt>
    <dd>@Model.FirstName</dd>
    <dt>Last Name</dt>
    <dd>@Model.LastName</dd>
    <!-- Other details -->
</dl>
