@model ASI.Basecode.Services.Models.AuthorViewModel
@{
    ViewBag.ShowSideBar = true;
}
<h2>Edit Author</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label for="FirstName">First Name</label>
        <input type="text" asp-for="FirstName" />
    </div>
    <div>
        <label for="LastName">Last Name</label>
        <input type="text" asp-for="LastName" />
    </div>
    <!-- Other fields -->
    <input type="submit" value="Update" />
</form>
