@{
    ViewData["Title"] = "Forget Password Confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    If an account with the provided email address exists, a password reset link has been sent to it.
    Please check your email to reset your password.
</p>
