@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "ForgotPassword";
}


@* https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?auto=format&fit=crop&q=80&w=1770&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D *@





<section class="hero-section">
    <link href="~/css/login.css" rel="stylesheet" />

    <div>
        <link href="~/css/forgotpassword.css" rel="stylesheet" />

        <div class="card">
            <div class="header">Forgot Password?</div>
            <div class="subtitle">Please enter the email you use to sign in to Skooby. We will send you a link to reset your password.</div>

            <form asp-action="ForgotPassword" method="post">
                <input type="email" class="input-field required mb-3" name="Email" placeholder="Email" required>
                <br />
                <button type="submit" class="btn btn-primary login-btn" style="width:440px;">Send Reset Link</button>
            </form>
            <br />
            <a href="/">Go back home</a>
        </div>
    </div>
</section>






