@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="/css/login.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Login Page";
} 

 

<div>
    <div>
        @Html.AntiForgeryToken()
    </div>
    <div class="modal-container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h1 class="modal-title modal-title-auth fs-5" id="exampleModalLabel">Sign In</h1>
                    <form method="post" action="/Account/Login" asp-antiforgery="true">
                        <div class="mb-3">
                            <label for="Email" class="form-label">Username</label>
                            <input type="text" id="UserId" class="form-control" asp-for="Email"
                                   placeholder="Enter username">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" id="Password" class="form-control" asp-for="Password"
                                   placeholder="Enter password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-link">
                            <a class="redirect-forgot-password text-link" style="color:dimgray;"
                               asp-controller="Account" asp-action="ForgotPass">Forgot your password?</a>
                        </div>
                        <div class="mb-3 form-link">
                            <span style="color:dimgray;">
                                No account?
                                <a class="redirect-sign-up text-link" asp-controller="Account"
                                   asp-action="Register">Sign up</a>
                            </span>
                        </div>
                        <button type="submit" class="btn btn-primary login-btn">Sign In</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}