body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f0f0f0;
}


:root {
    --primary-color: #FF7519;
    --secondary-color: #B64110;
    --dark-p-color: #331204;
}

.card {
    max-width: 558px;
    max-height: 468px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 16px rgba(0, 0, 0, 0.25);
}

.header {
    font-size: 32px;
    padding-bottom: 5px;
    line-height: 48px;
    color: #B64110;
    font-weight: normal;
}

.subtitle {
    font-size: 16px;
    line-height: 25px;
    color: #818181;
    padding-bottom: 31px;
    padding-left: 43px;
    padding-right: 43px;
    text-align: center;
}





.input-field {
    width: 440px;
    height: 40px;
    padding: 10px;
    margin-left: 40px;
    margin-right:40px;
    margin-bottom: 10px;
    border: 0px solid #ccc;
    border-radius: 10px;
  
    background-color: #E7E7E7;

    line-height: 20px;
}

    .input-field::placeholder {
        font-size: 16px;
        text-align: left;
        line-height: 20px;
    }



a {
    font-size: 16px;
    color: #818181;
    padding-right: 43px;
    text-align: right;
    text-decoration: none;

    margin-bottom:20px;
}


.button {
    padding: 10px 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color: #FF7519;
    color: #fff;
    cursor: pointer;
}

    .button:hover {
        background-color: #0056b3;
    };
    cursor: pointer;
}

    .button:hover {
        background-color: #0056b3;
    }