.gradient-custom-2 {
    /* fallback for old browsers */
    background: #ff0000; /* Red */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ff0000, #000000); /* Red, Black */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ff0000, #000000); /* Red, Black */
}

.login-btn {
    width: 180px;
}

.register-box {
    width: 600px;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

 

:root {
    --primary-color: #FF7519;
    --secondary-color: #B64110;
    --dark-p-color: #331204;
}

.hide-navbar{
    display:flex;
}

#hero-section-img-login {
        margin: 0px -50%;
    left: 0 !important;
    position: relative;
    object-fit: cover;
    height: 30em !important;
    width: -webkit-fill-available;
}

.modal-container {
    position: absolute;
    top: 14em !important;
    right: 100px;
    width: 25%;
}

.modal-dialog {
    margin: 0;
}

.modal-header-auth {
    display: block;
}

.modal-content {
    padding: 1em;
}

#login-form {
    padding: 1em 0 1em 0;
}

.asterisk {
    font-size: 3ch;
    color: red;
    position: absolute;
    margin-left: 5px;
}

.form-control {
    display: unset !important;
    /*width: 90% !important;*/
}

.login-btn {
    width: 100%;
}

h1#exampleModalLabel {
    color: var(--secondary-color);
    text-align: center;
    padding: 0px 0px 30px 0px;
    font-size: 30px !important;
    font-weight: 400;
}

#hero-section-title {
    position: absolute;
    font-size: 6em;
    padding-top: 100px;
    color: white;
    z-index: 99;
    width:6em;
}

    #hero-section-title[b-zsa0up3u66] {
        width: 7em;
        position: absolute;
        font-weight: 700;
        font-size: 6em;
        letter-spacing: -4px;
        padding: 200px 0px 0px 100px;
        color: white;
        z-index: 99;
    }


.about-us-section {
    margin: 100px 0px;
}

.about-us-content {
    padding: 50px 100px;
}

.about-title {
    color: var(--primary-color);
    font-size: 3.5em;
    width: 400px;
    font-weight: 800;
    text-align: left;
    padding-bottom: 50px;
}

.about-description {
    text-align: left;
    padding-right: 50px;
}

.about-btn {
    margin-top: 25px;
    width: 50%;
    font-size: 25px;
}

.about-col-left {
    text-align: left;
}
