body {
    font-family: "Lato", sans-serif;
}

:root {
    --primary-color: #FF7519;
    --secondary-color: #B64110;
    --dark-p-color: #331204;
    --star-color: #FFA928;
}

.sidenav-icon{
    padding-right:20px;
}

.sidenav {
    height: 100%;
    width: 210px;
    position: absolute;
    left: 0; 
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 1px 30px 15px rgba(161, 182, 253, 0.525);
}

.masterlist-title {
    background-color: var(--primary-color);
    color:#fff;
    padding: 5px 8px 5px 16px;
}
 

.masterlist-padding {
    padding: 6px 0px 6px 0px;
}

.sidenav a {
    padding: 6px 8px 6px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

        .sidenav a:hover {
            color: var(--dark-p-color);
        }


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
