body {
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #FF7519;
    --secondary-color: #B64110;
    --dark-p-color: #331204;
}

.form-control[b-zsa0up3u66]{
    border-radius: 50px;
}

.navbar {
    padding: 5px 100px;
}

.navbar-section {
    left: 0;
    top: 0;
    background-color: white;
    position: fixed;
    z-index: 9999;
    width: -webkit-fill-available;
    width: 100%;
}

nav.navbar.bg-body-tertiary {
    box-shadow: 2px 7px 16px -2px rgba(0,0,0,0.55);
    -webkit-box-shadow: 2px 7px 16px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 7px 16px -2px rgba(0,0,0,0.55);
}

.btn-outline-success {
    border-radius: 50px;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-success:hover {
    border-radius: 50px;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

button.btn.btn-primary {
    background-color: var(--primary-color);
    border-radius: 50px;
}

.form-link {
    text-align: end;
}
.text-link {
    color: var(--primary-color);
    text-decoration: none;
}.text-link:hover {
    color: var(--primary-color)!important;
    text-decoration: none;
}

.skooby-footer {
    left: 0;
    top: 0;
}

.skooby-footer-content {
    margin: -7%;
    position: relative;
    background-color: var(--secondary-color);
}

.logo-back1{

}

.skooby-logo {
    position: absolute;
    padding: 15px 0px 0px 15px;
}

.footer-bg-design {
    position: absolute;
    width: 400px;
    height: auto;
}

.col-md-4 col-lg-3 col-xl-3 mx-auto mt-3{
    position:relative;
}