@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section styles {
    <link rel="stylesheet" href="~/css/viewbook.css" />
}



<section class="skooby-section skooby-dashboard">
    <div class="container-wrapper">
        <div class="image-content-wrapper">
            <div class="image-container">
                <div class="image-content">
                    <h1>IMAGE</h1>
                    @* add divs and contents here *@
                </div>
            </div>
        </div>
        <div class="book-content-wrapper">
            <div class="book-container">
                <div class="book-content">
                    <h1>BOOKT TITLE</h1>
                    @* add divs and contents here *@
                </div>
            </div>
        </div>
        
    </div>
</section>


@* 
<div class="book-info">
    <h4>Bbook Title</h4>

    <div class="description-wrapper">
        <div class="description-content">
        </div>

    </div>
</div> *@